.relative{
    position: relative;
}

.vertical-bar{
    position: relative;
    margin: 69px 0px 39px 0;
    left: 0px;
    grid-area: 1 / 1 / 4 / 2;
    background-color: rgb(7, 236, 244);
    width: 2%;
    height: 50%;
}

.align-start{
    justify-self: start;
    align-self: start;
}

.call{
    color: rgb(7, 236, 244);
    margin: 67px 0px 2px 0;
    grid-area: 1 / 1 / 2 / 2;
    left: 37px;
}

.mail{
    margin: 0px 0px 42px 0;
    grid-area: 2 / 1 / 3 / 2;
    left: 37px;
}

.linkedin{
    margin: 0px 0px 10px 0;
    grid-area: 4 / 1 / 5 / 2;
    left: 37px;
}

.github{
    margin: 0px 0px 10px 0;
    grid-area: 5 / 1 / 6 / 2;
    left: 37px;
}

.link{
    cursor: pointer;
}